#contact form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 -10px;
}

#contact .text-input-container,
#contact .textarea-container {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 5px 10px;
}

#contact .text-input-container {
  min-width: 200px;
}

#contact .textarea-container {
  flex-basis: 100%;
}

#contact .user-input {
  display: block;
  color: var(--cream);
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1px var(--cream);
  background-color: var(--darkgrey);
  font-family: inherit;
  font-size: 100%;
  transition: background .5s, border .5s;
}

#contact .user-input:focus,
#contact .user-input:hover {
  background-color: var(--grey);
  border: solid 1px var(--gold);
  border-radius: 5px;
}

#contact textarea {
  height: 150px;
  resize: vertical;
}

#contact form label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#contact .submit-container {
  flex-basis: 100%;
  padding: 0 10px;
}

#contact input[name="submit"] {
  font-family: inherit;
  font-size: 16px;
  height: auto;
  padding: 5px 15px;
  border-radius: 5px;
  border: solid 1px var(--gold);
  background-color: var(--gunmetal);
  color: white;
  float: right;
  cursor: pointer;
  transition: all .5s;
}

#contact input[name="submit"]:hover {
  color: var(--gunmetal);
  background-color: var(--cream);
}

#validation {
  margin: 5px 10px 0 10px;
  display: block;
  width: 100%;
  text-align: center;
}

#recaptcha {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 10px 0 10px;
}

#contact .input-error {
  border: solid 1px var(--red);
  border-radius: 5px;
}

#contact #validation .error-message {
  color: var(--red);
}

#contact #validation .success-message {
  font-style: italic;
}
