footer {
  background-color: var(--backdrop-n-2nd-text-color);
  color: white;
}

#footer-inner-container {
  max-width: 1200px;
  min-width: 320px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  background: linear-gradient(to top, var(--gunmetal), var(--lightmetal));
}

#copyright {
  
}

#legal {
  list-style: none;
  font-size: 14px;
}

#legal li {
  float: right;
  margin-left: 10px;
}