footer {
  background-color: var(--gunmetal);
  color: var(--cream);
}

#footer-inner-container {
  max-width: 1200px;
  min-width: 310px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

#copyright {
  
}

#legal {
  list-style: none;
  font-size: 14px;
}

#legal li {
  float: right;
  margin-left: 10px;
}