#licensing h2 {
  margin-bottom: 10px;
}

#licenses-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 -5px;
}

.license-item {
  flex-basis: calc(25% - 10px);
  flex-grow: 1;
  min-width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5px;
  box-sizing: border-box;
  color: #262626;
}

.license-item h4 {
  font-size: 17px;
  padding: 10px;
  font-weight: normal;
  text-transform: uppercase;
  background: linear-gradient(to top left, var(--lightmetal), var(--gunmetal));
  color: white;
  border-bottom: solid 5px var(--gold);
}

.license-item ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: none;
  justify-content: space-evenly;
}

.license-item ul li {
  padding: 10px;
  font-size: 15px;
}

/*
.license-item ul li::before {
  content: "•";
  color: var(--gold);
  margin-right: 10px;
  font-size: 20px;
}
*/

/* .license-item ul li:nth-child(even) {
  background-color: grey;
} */

.license-item .price {
  padding: 10px;
  margin-top: auto;
	border-top: solid 1px var(--lightgold);
	border-right: none;
}