@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --chevron-size: 10px;
  --chevron-quarter-: calc(var(--chevron-size) / 3.1415 * (-1));
  --chevron-quarter: calc(var(--chevron-size) / 3.1415);
  --gold: #d1af6c;
  --gunmetal: #233237;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.chevron {
  display: inline-block;
  border: 4px solid black;
  width: var(--chevron-size);
  height: var(--chevron-size);
  border-top: none;
  border-left: none;
  transform: translate(0, var(--chevron-quarter-)) rotateZ(45deg);
}

h2 {
  text-transform: uppercase;
}