#mission-container {
  padding: 1em;
  padding-top: 0;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  color: var(--main-text-color)
}

#mission-container p {
  margin: 1em 0;
}