#mission-container {
  padding: 1em;
  text-align: left;
  font-size: 18px;
  font-style: normal;
  color: var(--cream);
  background-color: var(--grey);
  border-radius: 15px;
  overflow: auto;
}

#mission-container p {
  margin: 0.5em 0 0.5em 0;
}

#mission-container p:last-child {
  margin: 0.5em 0 0 0;
}

#mission-container p:first-child {
  margin: 0 0 0.5em 0;
}