nav.mobile li {
  display: inline;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px;
  overflow: auto;
  transition: .0;
}

nav li:hover {
  color: #d1af6c;
  cursor: pointer;
}

nav li.active {
  color: #d1af6c;
}

#pos-indicator {
  position: relative;
  height: 3px;
  background-color: #d1af6c;
  width: 100px;
  transition: .25s;
  top: 8px;
  width: 5em;
}

nav.mobile ul {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 12px 0 0 0;
  height: 2em;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #233237;
  color: white;
  text-align: center;
}

nav ul::-webkit-scrollbar {
	display: none;
}

div#page {
  margin-top: 44px;
}