.dropdown-box {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px var(--cream);
  background: var(--grey);
}

.dropdown-box .chevron {
  transition: all .5s;
  transform-origin: center;
  cursor: pointer;
}

.dropdown-box .chevron.up {
  transform: translate(0, var(--chevron-translate)) rotateX(180deg) rotateZ(45deg);
/*  animation: fade-in-out .5s linear;*/
}

.dropdown-box .chevron.down {
  transform: translate(0, var(--chevron-translate-)) rotateZ(45deg);
/*  animation: fade-out-in .5s linear;*/
}

/*
@keyframes fade-in-out {
  0% {
    border-color: var(--gold);
  }
  
  50% {
    border-color: var(--lightred);
  }
  
  100% {
    border-color: var(--gold);
  }
}

@keyframes fade-out-in {
  0% {
    border-color: var(--gold);
  }
  
  50% {
    border-color: var(--lightred);
  }
  
  100% {
    border-color: var(--gold);
  }
}
*/

.question-container {
  padding: 7px calc(7px * 1.3535) 7px 7px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-text {
  padding-right: 10px;
}

#QnA .chevron-container {
  display: flex;
  align-items: flex-end;
}

.answer-container {
  background: linear-gradient(to left, var(--lightgold), var(--gold));
  color: black;
  z-index: 0;
  padding: 0;
  height: 0px;
  transition: height .5s ease-in-out;
}

.answer-text {
  padding: 7px;
}

#QnA {
  padding-top: 10px;
}

#QnA a {
  color: var(--lightmetal);
}