#social {
  
  
}

#social-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.svg-container {
  
}

#testimonials-container {
  min-width: 270px;
  max-width: 550px;
  height: 220px;
  background-color: none;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

#prev-btn {
  position: absolute;
  left: 10px;
  top: 95px;
  z-index: 25;
  cursor: pointer;
  transform: translate(0, var(--chevron-translate)) rotateZ(135deg);
}

#next-btn {
  position: absolute;
  right: 10px;
  top: 95px;
  z-index: 25;
  cursor: pointer;
  transform: translate(0, var(--chevron-translate)) rotateZ(-45deg); 
}

@media screen and (max-width: 740px) {
  #testimonials-container {
    height: 250px;
  }
  
  #prev-btn {
    top: 115px;
  }
  
  #next-btn {
    top: 115px;
  }
}

#testimonials-container .slide {
  position: absolute;
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
}

#slide-0 {
  left: -1100px;
  z-index: 5;
}

#slide-1 {
  left: -550px;
  z-index: 10;
}

#slide-2 {
  left: 0px;
  z-index: 15;
}

#slide-3 {
  left: 550px;
  z-index: 10;
}

#slide-4 {
  left: 1100px;
  z-index: 5;
}

/* .line {
  stroke-dasharray: 60;
  stroke-dashoffset: -60;
} 

.animating {
  animation: dash 1s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0; 
  }
} */