#store h2 {
  text-transform: uppercase;
  display: inline-block;
  margin: 15px 0
}

#store iframe {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
} 

.arrow {
  transform: rotate(45deg);
  margin: 0 0 5px 10px;
}